.form-mc{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgba(229, 236, 255, 1);
    border-radius: 60px;
    height: 70vh;
    width: 68vw;
    padding-left: 20px;
    overflow: auto;
    /* position: relative;
    z-index: 10; */
}

.acb-div{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.ana-btn{
    width: 12rem;
    height: 2.5rem;
    /* padding: 20px; */
    background-color: rgba(56, 182, 255, 1);
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 8px;
}
